#about-me{
    display: grid;
    grid-template-rows: 15% 1fr 15em;
    color: #fff;
    background-color: #141f38;
    width: 100%;
    height: 100%;
}

#about-me h1{
    display: flex;
    text-align: center;
    font-size: clamp(1rem, 2vw, 3rem);
    width: 100%;
    align-items: center;
    justify-content: center;
}

#about-me main{
    display: grid;
    align-items: center;
    grid-template-columns: minmax(100px, 1fr);
    gap: 3%;
    height: 100%;
    margin: 2em 0;
}
#about-me .about-me-child{
    display: grid;
    align-items: center;
    justify-items: end;
    grid-template-columns: 1fr 1fr;
}

#about-me header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
#about-me .about-me-child img{
    width: 65%;
    aspect-ratio: 3 / 3;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 3em;
}
#about-me .about-me-child .about-me-text{
    max-width: 70%;
    line-height: 1.5em;
    font-size: clamp(1rem, calc(1vw + .6rem), 1.5rem);
}


#about-me .article-child{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3 ,20%);
    gap: 1em;
}

#about-me .article-child img{
    width: 35px !important;
    margin: 5px auto;
}

#about-me .article-child .achievements{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
#about-me .article-child .achievements .elemnts{
    width: 100%;
    font-size: small;
    text-align: center;
    align-items: center;
}
#about-me .article-child .achievements p{
    font-size: small;
    text-align: start;
}

@media (max-width: 740px) {

    #about-me .about-me-child {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-areas:
            "head"
            "body";
        gap: 2%;
    }

    #about-me .about-me-child header {
        display: flex;
        justify-content: center;
        grid-area: head;
    }

    #about-me .about-me-child main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-area: body;
        gap: 5%;
    }

    #about-me .about-me-child .about-me-text {
        /* width: 90%; */
        max-width: clamp(230px, 100%, 400px);
        font-size: small;
        margin: 0 auto;
        width: 80%;
    }

    #about-me .about-me-child img{
        width: clamp(230px, 100%, 400px);
    }

    #about-me .article-child{
        display: grid;
        gap: 0;
        grid-template-columns: repeat(3 ,1fr);

    }

    #about-me .article-child img{
        width: 18% !important;
        margin-bottom: 10px;
    }

    #about-me .article-child .achievements{
        display: grid;
        justify-items: center;
    }
    #about-me .article-child .achievements .elemnts{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    #about-me .article-child .achievements p{
        font-size: 0.6rem;
        text-align: start;
    }
}