:root{
    --header-bg: rgba(8, 16, 36, 0.253); /*لون خلفيه لل رائس*/ ;

    --text-main: #F9FAFB; /*بون خط اساسي*/
    --text-muted: #9CA3AF; /*لون ثانوي للخط*/

    --btn-primary-bg: #38BDF8; /*لون خلفية الزر الاساسي*/
    --btn-primary-text: #020617; /*لون الخط لزر الاساسي*/
    --btn-primary-hover: #0EA5E9; /*لون زر الاساسي عند التحريك بالمؤشر*/
}

#navbar-section{
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;

    backdrop-filter: blur(12px);
    background-color: var(--header-bg);

    width: 100%;
    height: 60px;

    z-index: 999;
}

#navbar-section nav{
    width: 100%;
    padding: 0 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-section nav ul{
    user-select: none;
    display: flex;
}

#navbar-section nav li{
    list-style-type: none;
    margin: 0 clamp(.5em, 1vw, 1.2em);
}

#navbar-section nav li a{
    text-decoration: none;
    color: var(--text-main);
}

#navbar-section nav li a:hover{
    color: var(--btn-primary-hover);
}

#navbar-section img{
    width: 2rem;
}

#languageSelect{
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    border: none;
    color: #fff;
    margin: 0 0.3em;
}
#languageSelect:focus{
    outline: none;
}
#languageSelect option{
    color: var(--btn-primary-text);
}

#openSideBar{
    display: none;
}

#closeSideBar{
    display: none;
}

@media(max-width: 600px){
    #openSideBar{
        display: flex;
        align-items: center;
        position: fixed ;
        background-color: transparent;
        right: 0;
        z-index: 999;
        margin: 0.3em;
        width: 2em;
    }

    #openSideBar.hide{
        display: none;
    }

    #navbar-section .logo{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    #navbar-section .logo #closeSideBar{
        display: inline;
        background-color: transparent;
        color: var(--text-muted);
        font-size: 2em;
    }
    #navbar-section{
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 0;
        backdrop-filter: blur(12px);
        background-color: var(--header-bg);
        right: 0;
        top: 0;
        z-index: 999;
        padding: 0;
        margin: 0;
        width: 250px;
        height: 100vh;
    }

    #navbar-section.active{
        display: flex;
    }

    #navbar-section nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin :0;
        gap: .5em;
        padding: 1em;
    }

    #navbar-section nav ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        gap: .5em;
    }
    
    #navbar-section nav li{
        width: 100%;
        margin: 0;
    }

    #navbar-section nav li a{
        display: block;
        margin: 0.4em 0;
        width: 100%-10px;
        padding: .5em;
    }
    #navbar-section nav li a:hover{
        background-color: var(--btn-primary-hover);
        color: white;
    }
}

@media(max-width: 230px){
    #navbar-section{
        width: 100%;
        height: 100vh;
    }
}