@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root{
    --bgColor:#0F172A; /*لون خلفيه*/
    --text-main: #F9FAFB;
    --text-muted: #9CA3AF;
    --iconBg:#fce9a0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;

}
a{
    text-decoration: none;
}
body{
    background-color: var(--bgColor);
    min-height: 100vh;
    width: 100%;
}

#footer-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: var(--text-muted);
    width: 100%;
    height: 3em;
}