*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgColor:#0F172A; /*لون خلفيه*/
    --secndaryBg:#141f38;
    --text-main: #F9FAFB;
    --text-muted: #9CA3AF;
    --animation-time: 23s; 
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bgColor);
}

main{
    display: flex;
    flex-direction: column;
    /* gap: 5em; */
    width: 100%;
    margin: 5em 0 0 0;
    min-height: calc(100vh - 70px);
}
.gallry-section::-webkit-scrollbar{
    display: none;
}
.gallry-section{
    margin: 0 auto clamp(1em , 3vw , 3em) auto;
    width: 96%;
    height: 22em;
    display: flex;
    overflow-x: hidden;
    border-radius: clamp(.5em , 10vw , 6em);
}

.gallry-section .group{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 100%;
    padding: 0.8em;
    gap: 1em;
    flex-shrink: 0;
    flex-grow: 0;
}

/* animation for group one and tow */
.gallry-section.right .group{
    animation: spin var(--animation-time) infinite linear;
    padding-right: 1em;
}

.gallry-section.left .group{
    direction: rtl;
    animation: spin2 var(--animation-time) infinite linear;
    padding-left:1em;
}

.gallry-section:hover .group{
    animation-play-state: paused;
}
/* ===== animation end */



.gallry-section figure{
    flex: 0 0 20em;
    transform-style: preserve-3d;
    transition: 
        transform 0.5s ease,
        box-shadow 0.5s ease;
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 14px;
}
.gallry-section figure:hover{
    transform: 
        rotateX(2deg)
        translateZ(22em);

    box-shadow:
        0 25px 40px rgba(0,0,0,0.45);
    z-index: 999;
}


.gallry-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


@keyframes spin{
    from{transform: translateX(0);}
    to{transform: translateX(-100%);}
}

@keyframes spin2{
    from{transform: translateX(-100%);}
    to{transform: translateX(0);}
}

@media(max-width:400px) {
    .gallry-section{
        border-radius: 0;
    }
}